doctype html
head
    title CamelTours Remastered
    style
        include ../style.scss
body
    ul
        li.nav-list
            a(href='/') Home
        li.nav-list
            a(href='faq') FAQ
        li.nav-list
            a(href='tour') Tour
    block content